* {
    font-family: "Nunito", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 14px;
}

p {
    margin: 8px;
}

td {
}

.card {
    margin-top: 0px;
    max-width: 640px;
    padding-right: 32px;
}

.heading {
    font-weight: bold;
    padding-top: 32px;
    /* border-bottom: 2px solid rgba(135, 206, 235, 1); */
    border-bottom: 2px solid rgba(174, 198, 207, 1);
}

.course {
    margin-top: 0px;
    max-width: 960px;
    padding-right: 32px;
    margin: 0 auto;
}

.hi {
    font-size: 32px;
}

ul {
    list-style-type: circle;
}

li {
    margin: 8px;
}

#portrait {
    border-radius: 8px;
    height: 240px;
}

#pics {
    /* border-left: 1px solid rgba(0, 0, 255, .75); */
}

/* Colors */

body {
    /* background-color: rgb(32, 32, 48); */
    /* background-color: rgb(255, 255, 255); */
    /* background-color: rgba(135, 206, 235, 0.5); */
    background-color: rgba(174, 198, 207, 1);
    color: black;
}

table {
    /* background-color: rgb(255, 255, 255); */
    background-color: rgba(0, 0, 0, 0);
    border-radius: 8px;
    margin: 0 auto;
    border-spacing: 32px;
}

#hours {
    margin: 0px;
    padding: 0px;
    margin-left: 32px;
    margin-top: -8px;
}

td {
    background-color: rgb(255, 255, 255);
    vertical-align: top;
    border-radius: 8px;
    padding: 32px;
}

#pics {
    text-align: right;
}

a:link {
    color: rgba(0, 0, 255, .75);
    text-decoration: underline;
}

a:visited {
    color: rgba(0, 0, 255, .75);
    text-decoration: underline;
}

/*Colors for white background*/
/*
 
a:link {
    color: rgb(191, 191, 255);
}

a:visited {
    color: rgb(191, 191, 255);
}

*/
