* {
    font-family: 'Quicksand', 'Exo', 'Play', 'Times New Roman';
    color: white;
}

body {
    background-color: rgb(0, 13, 26);     
}

img {
    background-color: white;    
    border-radius: 4px;
}

iframe {
    display: block;
    margin: 0 auto;
    padding: 10px;
}

.wrapper { 
  display: grid;
  margin: auto;
  width: 98%;
  grid-template-columns: repeat(12, 1fr); 
  grid-template-rows: 50px 10px;
  grid-row-gap: 10px;
} 

.name { 
  /* font-weight: bold; */
  font-size: 50px;
  grid-column-start: 1; 
  grid-column-end: 7; 
  grid-row-start: 1; 
  grid-row-end: 3; 
  text-align: right;
  margin-right: 25px;
}

.contact { 
  grid-column-start: 7; 
  grid-column-end: 13; 
  grid-row-start: 1; 
  grid-row-end: 3; 
  text-align: left;
  margin-left: 25px;
}

.contact-wrapper { 
  display: grid;
  margin: auto;
  grid-template-columns: 60px auto; 
} 

.contact-fields { 
  grid-column-start: 1; 
  grid-column-end: 2; 
  text-align: left;
}

.contact-values { 
  grid-column-start: 2; 
  grid-column-end: 3; 
  text-align: left;
}

.divider1 { 
  grid-column-start: 1; 
  grid-column-end: 13; 
  grid-row-start: 3; 
  grid-row-end: 3; 
  border-top: 2px solid rgba(256, 256, 256, 0.1)
}

.bio { 
  text-align: center;
  grid-column-start: 3; 
  grid-column-end: 5; 
  grid-row-start: 4; 
  grid-row-end: 5; 
}

.research { 
  text-align: center;
  grid-column-start: 5; 
  grid-column-end: 7; 
  grid-row-start: 4; 
  grid-row-end: 5; 
}

.publications { 
  text-align: center;
  grid-column-start: 7; 
  grid-column-end: 9; 
  grid-row-start: 4; 
  grid-row-end: 5; 
  padding-left: 20px;
}

.teaching { 
  text-align: center;
  grid-column-start: 9; 
  grid-column-end: 11; 
  grid-row-start: 4; 
  grid-row-end: 5; 
}

.divider2 { 
  grid-column-start: 1; 
  grid-column-end: 13; 
  grid-row-start: 5; 
  grid-row-end: 5; 
  border-top: 2px solid rgba(256, 256, 256, 0.1)
}

.body { 
  text-align: left;
  grid-column-start: 3; 
  grid-column-end: 11; 
  grid-row-start: 5; 
}

.wrapper-bio {
  display: grid;
  grid-template-columns: 2fr 6fr; 
  grid-column-gap: 10px;
}

li {
  list-style-type: none;
  margin-bottom: 20px;
}

li.bulleted {
  list-style-type: square;
  margin-bottom: 20px;
}

p.bold {
  font-weight: bold;
}

.centered {
  text-align: center;
}

.wrapper-teaching { 
  display: grid;
  margin: auto;
  width: 80%;
  grid-template-columns: repeat(10, auto); 
  grid-template-rows: 10px 10px; 
  grid-column-gap: 10px;
  grid-row-gap: 10px;
} 

.quarter-semester { 
  grid-column-start: 1; 
  grid-column-end: 6; 
  grid-row-start: 1; 
  grid-row-end: 3; 
  text-align: right;
}

.course { 
  grid-column-start: 6; 
  grid-column-end: 11; 
  grid-row-start: 1; 
  grid-row-end: 3; 
  text-align: left;
}

#portrait {
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: rgb(126, 190, 255);
  text-decoration: none;
}
